body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    height: 600px;
    background-color: gainsboro;
    margin: 100px;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
}
.red{
    position: relative;
    background-color: red;
    bottom: 100px;
    left: 100px;
}
.green{
    position: absolute;
    background-color: green;
    top: 0;
    left: 0;
    z-index: 1;
}
.blue{
    position: fixed;
    background-color: blue;
}
.purple{
    position: sticky;
    background-color: purple;
    top: 50px;
}