.container{
    border: 2px solid red;
}
/* .block1{
    overflow: auto;
} */
.p1{
    border: 2px solid green;
    margin-right: 100px;
    clear: right;
}
.img1{
    float: right;
    margin-left: 40px;
}
.img2{
    float: left;
}
.p2{
    clear: both;
}