*{
    box-sizing: border-box;
}

.container{
    height: 400px;
    border: 2px solid red;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    gap: 10px;
    /* row-gap: 10px;
    column-gap: 20px; */
    flex-flow:  row ;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.box{
    border: 2px solid green;
    /* //margin:10px; */
    width: 80px;
}

#box-1{
    /* order:1;
    flex-grow: 1;
    flex-shrink: 2; */
    /* flex-basis: 200px; */
}

#box-3{
    flex: 0 2 200px;
    align-self: stretch;
}

#box-4{
    /* flex-shrink: 3; */
}