h1{
    /* text-decoration: line-through;
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-decoration-style: wavy; */
    /* text-shadow: 4px 4px 4px aqua; */
    font-family: 'Courier New', Courier, monospace;
}